html, body {
  margin: 0;
  padding: 0;
  background-color: #F7FFF3;
  overflow-x: hidden;
}
.contact {
  scroll-behavior: smooth;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.Hero {
  background-image: url("./Images/HeroBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 800px;
  padding-top: 40px;
}
.Header {
  width: 90%;
  max-width: 1250px;
  height: 75px;
  margin: 0 auto;
  background: #F7FFF3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.Logo {
  margin-left: 1vw;
  height: 35%;
}
.heroText {
  position: absolute;
  width: 80%;
  max-width: 1250px;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);

  font-family: 'Nunito';
  font-style: normal;
  letter-spacing: -0.05em;
  color: #F7FFF3;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.heroHeader {
  font-size: 3em;
  margin: 0;
}
.heroSubHeader {
  font-size: 1.5em;
}
.heroButton {
  background: #F7FFF3;
  border-radius: 20px;
  border-width: 0;
  padding: 0.75em;
  padding-top: .5em;
  padding-bottom: .5em;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: -0.05em;

  color: #20221A;
}
.heroButton:hover {
  background-color: #D1D6CF; /* Change to a slightly different color on hover */
  transform: scale(1.05); /* Scale the button slightly on hover */
}

.heroButton:active {
  background-color: #A4A9A1; /* Change to a darker color when clicked */
}
.heroWave {
  position: absolute;
  bottom: -1px;
  left: -5vw;
  width: 110%;
  color: #F7FFF3;
}
.translucentHeroWave {
  bottom: 1.8vw;
}
.services {
  width: 100%;
  justify-content: center;
  background-color: #F7FFF3;
}
.servicesHeader {
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  margin-top: 150px;

  color: #20221A;
}
.servicesSubheader {
  font-weight: 500;
  font-size: 20px;
  text-align: center;

  color: #797979;
}
.servicesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 250px;
  width: 90%;
  max-width: 1250px;

}
.serviceBox {
  width: 30%;
  margin: 5px;
  border-radius: 35px;
  border-style: solid;
  border-width: 2px;
  border-color: #20221A;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.ServiceVector {
  width: 33%;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
  margin-top: 1.5vw;
}
.ServiceHeader {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 1.6em;
  text-align: center;
  color: #20221A;
}

.ServiceText {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  text-align: center;
  color: #797979;
  padding: 15px;
  padding-bottom: 0;
  margin-bottom: 1.5vw;
}
@media(max-width: 1400px) {
  .ServiceHeader {
    font-size: 1.8vw;
  }
  .ServiceText {
    font-size: 1.5vw;
  }
}
.ServiceImage {
  margin-top: auto;
  margin-bottom: 5px;
  width: 80%;
}
.ServiceImageQuote {
  margin-top: auto;
  margin-bottom: 5px;
  width: 80%;
  font-weight: 900;
  text-align: center;
}
.ServiceButton {
  background: #E2FFD9;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 2vw;
  margin-bottom: 1.5vw;
  border-width: 0;
  width: 40%;
  aspect-ratio: 3;
  font-weight: 900;
  font-size: 1.5vw;
  text-align: center;
  color: #20221A;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.ServiceButton:hover {
  background-color: #D1D6CF; /* Change to a slightly different color on hover */
  transform: scale(1.05); /* Scale the button slightly on hover */
}

.ServiceButton:active {
  background-color: #A4A9A1; /* Change to a darker color when clicked */
}
.headerButton {
  margin-left: 1vw;
}
.headerButtons {
  margin-right: 2vw;
  margin-left: auto;
}

@media(min-width: 1400px) {
  .ServiceButton {
    font-size: 1em;
  }
  }
  .Gallery {
    width: 100%;
    background-color: #E8EBE7;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .GalleryHeader {
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    margin-bottom: 25px;

    color: #20221A;
  }
  .GalleryRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
    max-width: 1250px;
  }
  .GalleryImage {
    width: 30%;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
  }
  .GalleryGridMobile {
    display: none;
  }
  .Contact {
    background-image: url("./Images/ContactBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    position: relative;
    padding-top: 250px;
  }
  .ContactWave {
    position: absolute;
    top: 0px;
    width: 110%;
    color: #F7FFF3;
  }
  .translucentContactWave {
    top: 1.8vw;
  }
  .ContactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    max-width: 800px;
    margin: 0 auto;

    background: #F7FFF3;
    border-radius: 25px;
  }
  .ContactHeader {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 25px;

    color: #A4D961;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }
  .inputName {
    font-weight: 900;
    font-size: 16px;
    color: #20221A;
  }

  .inputBox {
    height: 40px;
    background: #F2F3F1;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-width: 0;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 14px;

    color: #20221A;
    resize: none;
  }
  .submitButton {
    background: #F2F3F1;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-width: 0;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 50px;
    width: 100%;

    font-weight: 900;
    font-size: 14px;

    color: #20221A;
  }
  .submitButton:hover {
    background-color: #D1D6CF; /* Change to a slightly different color on hover */
    transform: scale(1.05); /* Scale the button slightly on hover */
  }

  .submitButton:active {
    background-color: #A4A9A1; /* Change to a darker color when clicked */
  }
  
  .ServiceGridMobile {
    display: none;
  }

  @media screen and (max-width: 770px) {
    body {
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      margin: 0;
      padding: 0;
      background-color: #F7FFF3;
      overflow-x: hidden;
  }

  .Hero {
    padding-top: 0;
  }
  /* Mobile Header Styles */
  .Header {
      width: 100%;
      height: 60px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }

  .Logo {
      margin-left: 5px;
  }

  /* Mobile Hero Section Styles */
  .Hero {
      height: 600px;
  }

  .heroText {
      width: 90%;
      top: 40%;
  }

  .heroHeader {
      font-size: 2em;
  }

  .heroSubHeader {
      font-size: 1.2em;
  }

  .heroButton {
      padding: 10px 20px;
      font-size: 18px;
  }

  /* Mobile Services Section Styles */
  .servicesHeader {
      margin-top: 30px;
      font-size: 24px;
  }

  .servicesSubheader {
      margin-top: 15px;
      font-size: 16px;
  }

  .servicesContainer {
    width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
  }

  .serviceBox {
      width: 80%;
      margin: 10px 0;
  }

  .ServiceVector {
    margin-top: 30px;
      width: 25%;
  }

  .ServiceHeader {
      font-size: 1.8em;
  }

  .ServiceText {
      font-size: 1.2em;
  }

  .ServiceImage {
      width: 60%;
  }

  .ServiceImageQuote {
    font-size: 1.2em;
  }

  .ServiceButton {
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 1.3em;
      padding: 5px 15px;
  }

  /* Mobile Gallery Section Styles */
  .GalleryHeader {
      margin-bottom: 15px;
      font-size: 24px;
  }

  .GalleryRow {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .GalleryImage {
      width: 100px;
      margin-top: 25px;
  }

  /* Mobile Contact Section Styles */
  .Contact {
      height: 800px;
      padding-top: 50px;
  }

  .ContactHeader {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 24px;
      color: #A4D961;
  }
  .ContactForm {
    width: 90%;
  }

  .inputName,
  .inputBox,
  .submitButton {
      width: 100%;
      font-size: 16px;
  }
  .GalleryGridMobile {
    display: block;
    overflow: visible;
  }
  .GalleryImageMobile {
    max-width: 100%; /* Ensure images fit within their containers */
    margin: 0 15px;
    padding-bottom: 15px; /* Add spacing between carousel items */
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
    overflow: visible;
  }
  .GalleryRow {
    display: none;
    overflow: visible;
  }

  .servicesContainer {
    display: none;
  }
  .serviceBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .ServiceGridMobile{
    display: flex;
  }
  .BoxWrapper {
    margin: 15px;
  }
  .ContactForm {
    margin-top: 75px;
  }
  .slick-track {
    margin-bottom: 75px;
  }
}


